<link rel="stylesheet" href="/public/stylesheets/style.css" />

<h1>{{title}}</h1>
<form method="POST">
  {{! Input names have to match the name of the fields in the Mongo schema object }}
  {{! Mapping is not automatic, but it's best practices }}

  <fieldset>
    <label for="date" class="col-2">
      Date:
    </label>
    <input name="date" id="date" required type="date" value="{{today}}" />
  </fieldset>

  <fieldset>
    <label for="goalStreakDays" class="col-2">
      Goal Streak Days:
    </label>
    <input name="goalStreakDays" id="goalStreakDays" required type="number" min="1" placeholder="e.g., 7" />
  </fieldset>

  <fieldset>
    <label for="note" class="col-2">
      Note:
    </label>
    <textarea name="note" id="note" rows="3" placeholder="Add a note for today’s streak..."></textarea>
  </fieldset>

  <fieldset>
    <label for="skill" class="col-2">
      Skill:
    </label>
    <select name="skill" id="skill">
      {{#each skills}}
      <option>{{ this.name }}</option>
      {{/each}}
    </select>
  </fieldset>

  <fieldset>
    <label for="progress" class="col-2">
      Progress Percentage:
    </label>
    <input
      type="range"
      name="progress"
      id="progress"
      min="0"
      max="100"
      step="1"
      value="0"
      oninput="document.getElementById('progressValue').innerText = this.value + '%';"
    />
    <span id="progressValue">0%</span>
  </fieldset>

  {{! Button needs to be inside <form> element to trigger POST }}
  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form>
